<h1>Bienvenue dans notre bibliothéque du CNSTN</h1>

<p>
Système Internationale d'Information Nucléaire (INIS)

Définition et Activités d'INIS :

INIS (International Nuclear Information System ou Système International d'Information Nucléaire) est un système d'information qui couvre la littérature scientifique et technique mondiale relative à l'utilisation de l'énergie nucléaire à des fins pacifiques. Le Système INIS a été crée en 1970 par l'AIEA (Agence Internationale pour l'Energie Atomique), dans le but d'alimenter une base de données bibliographiques disponibles aujourd'hui en ligne sur les serveurs de l'AIEA, ainsi que sous forme de CD-ROM couvrant la période de janvier 1970 à nos jours. Une mise à jour est effectuée chaque semaine. Le but de cette base est de recenser et de diffuser auprès des pays membres d'INIS toutes les publications scientifiques et techniques intéressant de près ou de loin le nucléaire.

Domaines couverts par INIS :

Les principaux domaines d'intérêt couverts par INIS sont : • La chimie (isotopique, radio-chimie) et les matériaux (métaux et alliages, céramiques et ciments, etc…). • Les sciences de la terre. • Les sciences de la vie (biologie, radioprotection, médecine nucléaire) et l'environnement. • Les isotopes, sources de rayonnements et applications des rayonnements. • Le génie nucléaire et les technologies du nucléaire (réacteurs, instrumentation, gestion des déchets). • Les aspects économiques, législatifs et sociologiques. • La physique des particules et la physique nucléaire, la physique des plasmas et de la matière condensée. • Les aspects environnementaux et économiques des énergies non-nucléaires.

Comment se fait la sélection de la littérature intéressant INIS :

C'est une opération capitale qui comprend plusieurs étapes : • Recenser les organismes du pays (Instituts, laboratoires, bibliothèques, centres de recherche, Académies, etc...) susceptibles de produire de la littérature conventionnelle (livres, articles de périodiques, brevets) ou non-conventionnelle (rapports, thèses, etc…) ayant rapport avec le nucléaire et publié dans le pays; • Organiser la récupération de cette littérature (élaboration d'un fichier des interlocuteurs avec les adresses des organisations. • Prendre contact et entretenir les relations avec les personnes concernées (par courrier, par des visites, ou par l'organisation de séminaire, etc …).

Retour</p>

