<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="intro">BIBLIO CNSTN</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="reservation">Reservation</a></li>
        <li class="active"><a routerLink="spprimer">Chercher</a></li>
        <li class="active"><a routerLink="ajouter">Historique</a></li>
        <li class="active"><a routerLink="consulter">Consultation</a></li>
        <li class="active"><a routerLink="searchbar">searchbar</a></li>
        
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>