<div id="divcontainer" class="containter">
    <div id="divrow" class="row">
        <div id="divcol1" class="col-md-4">
            <div class="panel panel-primary">
                <div id="divcat" class="panel-heading">Direction</div>
                <ul class="list-group">
                    <li class="list-group-item">Direction 1</li>
                    <li class="list-group-item">Direction 2</li>
                    <li class="list-group-item">Direction 3</li>
                    <li class="list-group-item">Direction 4</li>
                    <li class="list-group-item">Direction 5</li>
                    <li class="list-group-item">Direction 6</li>

                </ul>


            </div>

        </div>
        <div id="divcol2"class="col-md-8">
            <div class="panel panel-primary">
                <div id="divlivres" class="panel-heading">Liste des Adherants</div>
                <ul class="list-group">
                    <li class="list-group-item">Adherant 1</li>
                    <li class="list-group-item">Adherant 2</li>
                    <li class="list-group-item">Adherant 3</li>
                    <li class="list-group-item">Adherant 4</li>
                    <li class="list-group-item">Adherant 5</li>
                    <li class="list-group-item">Adherant 6</li>

                </ul>


            </div>

        </div>

    </div>
 

</div>